.showcase {
    width: 100%;
    height: 500px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .showcase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index:99
  }
  
  .showcase .overlay {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index:999
  }
  
  .showcase h2 {
    margin-top: 170px;
    font-size: 3em;
  }
  
  .showcase p {
    margin-top: 8px;
    font-size: 1.2em;
  }

  .showcase-btn {
      font-size: 0.9em;
  }

  .about {
      padding: 5%;
  }

.services-row {
    margin: 5% auto;
}
  
.e-icon {
    font-size: 3.2em;
    margin: 30px auto;
}

.services-title {
    font-size: 1.2em;
    line-height: 2em;
}

.about {
    margin: 5% auto;
    color: #fff;
}

.about-text {
    line-height: 1.8em;
    color: #fff;
    font-size: 0.95em;
}

.services-text {
    font-size: 0.95em;
    color: #777
}

.accreditations {
    margin-bottom: 5%;
}

.footer-text {
    font-size: 0.9em;
}

.top-btn {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 10px 16px -6px rgba(0,0,0,0.55);
    -webkit-box-shadow: 12px 10px 16px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 12px 10px 16px -6px rgba(0,0,0,0.55);
    color: white
}

